*{
    padding:0;
    margin:0;
    font-family:'trebuchet ms', arial, sans-serif;
    font-size:62.5%;
}
.main{
    width:100%;
    height:100vh;
}
.main .navbar{
    width:100%;
    height:80px;
    background:rgb(255, 255, 255);
    position:fixed;
}
.main .navbar .navbar-container{
    width:80%;
    margin:auto;
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.main .navbar .navbar-container .menu-container{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-image:url('../images/background-nav.jpg');
    background-size:cover;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.main .navbar .navbar-container .menu-container a:not(.closebtn){
    font-size:2rem;
    padding: 25px 8px 5px 15px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.main .navbar .navbar-container .menu-container a.active{
    color:rgb(255, 255, 255);
}
.main .navbar .navbar-container .menu-container .closebtn{
    position: absolute;
    top:0;
    right:10px;
    font-size:6rem;
    cursor:pointer;
    padding:8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.main .hero{
    background-image:url('../images/background.gif');
    background-repeat:repeat;
}
.main .hero .hero-container{
    animation:transitionIn 0.75s;
    width:100%;
    margin:auto;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:30px;
    background:rgba(255, 255, 255, 0.3);
    padding:20px;
    box-sizing:border-box;
}
.main .hero .hero-container .greet .welcomelogo{
    margin-top:110px;
    width:300px;
    height:150px;
}
.main .hero .hero-container .welcomegif{
    width:280px;
    height:300px;
}
.main .hero .hero-container .intro p{
    font-size:1.5rem;
    line-height:20px;
    color: #777;
}
.main .hero .hero-container .bar{
    width:300px;
    height:20px;
}
.main .hero .hero-container .footer{
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-evenly;
    gap:20px;
}
.main .hero .hero-container .footer .terms-left{
    margin-bottom:30px;
}
.main .hero .hero-container .footer .terms-left h1{
    font-size:2rem;
    color: #43423F;
}
.main .hero .hero-container .footer .terms-left p{
    font: italic 1.5rem arial, sans-serif;
    line-height:25px;
    color: #362C20;
}
.main .hero .hero-container .footer .terms-right{
    margin-bottom:30px;
    display:none;
}
.main .hero .hero-container .footer .terms-right h1{
    color: #ff499e;
    font-size:2rem;
}
.main .hero .hero-container .footer .terms-right p{
    font: italic 1.5rem arial, sans-serif;
    color:rgb(0, 0, 0);
}
.main .hero .hero-container .footer .terms-right ul li{
    font-size:1.5rem;
    color: #777;
    line-height:25px;
}
.main .navbar .navbar-container .menu-container .home-small{
    display:none;
}
.main .navbar .navbar-container .menu-container .intro-small{
    display:none;
}
.main .navbar .navbar-container .menu-container .cake-small{
    display:none;
}
.main .navbar .navbar-container .menu-container .pastry-small{
    display:none;
}
.main .navbar .navbar-container .menu-container .contact-small{
    display:none;
}
@keyframes transitionIn{
    from{
        opacity:0;
        transform:translateX(-10deg);
    }

    to{
        opacity:1;
        transform:translateX(0);
    }
}
/* Extra small devices, Phones */
@media (min-width:480px){
    .main .hero .hero-container .bar{
        width:450px;
        height:20px;
    }
}
/* Small devices, Tablets */
@media (min-width:768px){
    .main .hero .hero-container .footer .terms-right{
        margin-bottom:30px;
        display:block;
    }
    .main .hero .hero-container .bar{
        width:750px;
        height:20px;
    }
    .main .hero .hero-container .greet .welcomelogo{
        margin-top:110px;
        width:350px;
        height:200px;
    }
    .main .hero .hero-container .welcomegif{
        width:450px;
        height:350px;
    }
}
/* Medium devices, Desktop */
@media (min-width:992px){
    .main .navbar{
        width:100%;
        height:80px;
        background-image:url('../images/background-nav.jpg');
        position:fixed;
    }
    .main .navbar .navbar-container .hamburger-container{
        display:none;
    }
    .main .navbar .navbar-container .menu-container .closebtn{
        display:none;
    }
    .main .navbar .navbar-container .menu-container{
        all:unset;
        display:flex;
    }
    .main .navbar .navbar-container .menu-container .home-big{
        display:none;
    }
    .main .navbar .navbar-container .menu-container .home-small{
        display:block;
    }
    .main .navbar .navbar-container .menu-container .intro-big{
        display:none;
    }
    .main .navbar .navbar-container .menu-container .intro-small{
        display:block;
    }
    .main .navbar .navbar-container .menu-container .cake-big{
        display:none;
    }
    .main .navbar .navbar-container .menu-container .cake-small{
        display:block;
    }
    .main .navbar .navbar-container .menu-container .pastry-big{
        display:none;
    }
    .main .navbar .navbar-container .menu-container .pastry-small{
        display:block;
    }
    .main .navbar .navbar-container .menu-container .contact-big{
        display:none;
    }
    .main .navbar .navbar-container .menu-container .contact-small{
        display:block;
    }
    .main .navbar .navbar-container{
        width:90%;
        margin:auto;
        height:100%;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .main .navbar .navbar-container .menu-container a:not(.closebtn){
        all:unset;
    }
}
/* Large devices, Wide screens */
@media (min-width:1200px){

}